.slideshow {
    display: block;
    height: 415px;
    margin: 0 0 30px 0;
    position: relative;
    width: 100%;
}

.fleche {
    position: absolute;
    width: 45px;
    z-index: 1;
}
.fleche:hover {
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
}

.fleche-gauche {
    margin-left: 25px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}
.fleche-droite {
    margin-right: 25px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.slideshow-img {
    border-radius: 15px;
    height: 415px;
    object-fit: cover;
    display: none;
    width: 100%
}
.slideshow-img.actif {
    display: block;
}

.photo-number p{
    position: absolute;
    bottom: 0%;
    left: 50%;
    color: #FFF;
    font-size: 25px;
    filter: drop-shadow(2px 4px 6px black);
}

@media all and (min-width: 320px) and (max-width: 767px){
    .slideshow{
        height: 250px;
    }

    .slideshow-img{
        height: 250px;
    }

    .fleche-droite, .fleche-gauche{
        width: 20px;
    }

    .photo-number{
        visibility: hidden;
    }

    .house-title{
        font-size: 20px;
    }

    .house-location{
        font-size: 15px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .fleche{
        width: 25px;
    }
}

@media all and (min-width: 2560px){

    .slideshow {
        margin: 0 0 30px 0;
        height: 565px;
    }
    .slideshow-img{
        height: 100%;
    }
}