.About{
    margin: 0px 75px;
}

#collapse-Fiabilité, #collapse-Respect, #collapse-Service, #collapse-Sécurité{
    border-radius: 5px;
    margin: 25px 250px;
    text-align: left;
}

@media all and (min-width: 320px) and (max-width: 767px){
    .About {
        margin: 0px 6px;
    }

    #collapse-Fiabilité, #collapse-Respect, #collapse-Service, #collapse-Sécurité{
        margin: 0;
    }

    .bannerAbout{
        height: 330px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    #collapse-Fiabilité, #collapsen-Respect, #collapse-Service, #collapse-Sécurité{
        margin: 20px 0px;
        text-align: center;
    }
}

@media all and (min-width:1024px) and (max-width: 1439px){
    #collapse-Fiabilité, #collapse-Respect, #collapse-Service, #collapse-Sécurité{
        margin: 25px 100px;
    }
  }