footer{
    background-color: #000;
    text-align: center;
    width: 100%;
    margin-top: 55px;
    height: 100px;
}

footer img{
    width: 8%;
    padding-top: 12px;
}

footer p{
    color: #FFF;
}

@media all and (min-width: 320px) and (max-width: 767px){
    footer img {
        width: 25%;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    footer img {
        width: 15%;
    }
}

@media all and (min-width: 2560px){
    footer {
        height: 175px;
    }

    footer img{
        width: 10%;
    }

    footer p{
        font-size: 30px;
    }
}